.content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.book {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:rgb(207, 219, 233);
    color:rgb(0, 0, 0);
}
header {
    background-color:rgb(255, 255, 255);
    color: rgb(113, 5, 113);
}
nav a:hover {
    background-color: aqua;
    color: black;
}
.book, .join {
    background-color: rgb(42, 165, 116);
    color: rgb(225, 241, 6);
}
.book:hover, .join:hover {
    background-color: aqua;
    color: rgb(225, 241, 6);
}
#background {
    background-color: antiquewhite;
    color: rgb(252, 252, 252);
}
.msg {
    background-color: blueviolet;
    color: black;
}
footer {
    background-color: rgb(255, 255, 255);
    color: black;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: rgb(114, 6, 6);
    text-decoration: none;
}
.book, .join {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
footer a {
    text-align: center;
    color: rgb(75, 5, 59);
    text-decoration: none;
}
