.content, .content2, .content3{
    max-width: 1600px;
    margin: 0 auto;
}


.logo {
    max-width: 100px;
    height: auto;
    border-radius: 20%;
    padding-top: 5px;
}

h1{
    position: absolute;
    right: 500px;

}

header {
    background-color: #35617F;
    color: black;
}

nav a {
    text-align: center;
    padding: 15px;
    justify-content: space-between;
    font-size: larger;
    color: white;
}

nav a:hover {
    background-color: #A43312;
    color: black;
}

/* Homepage formatting */

.home{
    max-width: 800px;
    margin: 5vh auto;
    padding: 20px;
    text-align: center;
}

.hp {
    color: black;
    font-size: 35px;
    text-decoration: underline;
}
img {
    max-width: 200px;
    height: auto;
}

.skateboard-img {
    max-width: 375px;
    height: auto;
    float:left;
    padding-top: 35px;
    margin: 0px 15px 15px 0px;
}

.anatomy-img {
    max-width: 450px;
    height: auto;
    position: absolute;
    right: 500px;
    bottom: 100px;
}


h2{
    text-align: center;
}

body {
    background-color: #5F9570;
    color: rgb(255, 255, 255);
    font-family: Trebuchet MS, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #943A6D;
    color: black;
    padding: 20px 25px;
    margin-top: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

h3 a {
    color: black;
    text-align: center;
}

h3 a:hover{
    background-color: #A43312;
    color: white;
}

/* Deck Subpage Formatting */

.deck {
    color: black;
    font-size: 35px;
    text-decoration: underline;
    text-align: left;
}

.griptape {
    color: black;
    font-size: 35px;
    text-decoration: underline;
    position: absolute;
    right: 0px;
    top: 128px

}

.deck-img {
    position: absolute;
    top: 540px;
    left: 50px;
    max-width: 300px;
    height: auto;
    
}

.griptape-img {
    position: absolute;
    top: 450px;
    right: 50px;
    max-width: 500px;
    height: auto;
}

.sk8deck {
    text-align: left;
    max-width: 700px;

}

.grippara {
    text-align: right;
    max-width: 700px;
    position: absolute;
    right: 0px;
    top: 250px;
    
}

/* Trucks and Wheels Subpage Formatting */

.pageheader {
    color: black;
    font-size: 40px;
    text-align: center;
}

.trucks {
    color: black;
    font-size: 35px;
    text-decoration: underline;
    position: absolute;
    left: 0;
    top: 100px;
    }

.wheels {
    color: black;
    font-size: 35px;
    text-decoration: underline;
    position: absolute;
    right: 0;
    top: 130px;

}

.bearings {
    color: black;
    font-size: 35px;
    text-decoration: underline;
    position: absolute;
    bottom: 20px;
    right: 200px;
    text-align: left;}

.timg{
    max-width: 500px;
    height: auto;
    position: absolute;
    left: 20px;
    top:650px;
}

.wimg{
    position:absolute;
    right: 50px;
    bottom:70px;
    max-width: 300px;
    height: auto;
}

.truckspara {
    max-width: 800px;
    text-align: left;
}

.wheelspara {
    max-width: 700px;
    position: absolute;
    right: 20px;
    top: 230px;
    text-align: right;
}

.bearingspara {
    max-width: 400px;
    position: absolute;
    top: 750px;
    right: 50px;
}